@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    background-color: #dcecfc;
    color: black;
}

.bar {
    background: #2257bc;
    width: 10px;
}

/* debut menu */

#mastheader {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

#mastheader #site-branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mastheader .site-logo {
    position: relative;
    display: inline-block;
}

#mastheader .site-logo a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: transparent;
}

#mastheader #site-navigation ul {
    position: absolute;
    right: -100%;

    margin-top: 0;
    padding-left: 0;

    list-style: none;

    transition: right ease-in-out 200ms;
}

#site-menu-toggle:checked ~ #mastheader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overscroll-behavior: contain;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

#site-menu-toggle:checked ~ section {
    margin-top: 100px;
}

#site-menu-toggle:checked ~ #mastheader #site-branding {
    background-color: #dcecfc;
}

#site-menu-toggle:checked ~ #mastheader #site-navigation {
    position: relative;
    height: 100%;
    width: 100%;
}

#site-menu-toggle:checked ~ #mastheader #site-navigation ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 80%;

    padding: 1rem;

    background-color: #2257bc;
}

#site-menu-toggle:checked ~ #mastheader #site-navigation ul li {
    margin-bottom: 2rem;
}

#site-menu-toggle:checked ~ #mastheader #site-navigation ul li a {
    color: white;
    text-decoration: none;

}



#site-menu-toggle:checked ~ #mastheader #site-branding .sideM svg path:first-child {
    transform: rotate(45deg) translateY(15px);
    transform-origin: center;
}

#site-menu-toggle:checked ~ #mastheader #site-branding .sideM svg path:nth-child(2) {
    display: none;
}

#site-menu-toggle:checked ~ #mastheader #site-branding .sideM svg path:last-child {
    transform: rotate(135deg) translate(3px, -12px);
    transform-origin: center;
}

@media screen and (min-width: 960px) {
    .sideM {
        display: none;
    }

    #mastheader {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    #mastheader #site-navigation,
    #mastheader #site-navigation ul {
        position: static;
        display: flex;
        align-items: stretch;
    }

    #mastheader #site-navigation ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;

    }

    #mastheader #site-navigation ul li a,
    #mastheader #site-navigation ul li a:visited {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 7px 15px;

        background-color: #2257bc;
        border-radius: 10px;

        color: white;

        text-decoration: none;

        transition: background-color ease-in-out 500ms,
        color ease-in-out 500ms;
    }

    #mastheader #site-navigation ul li a:hover {
        color: white;
        background-color: #375187;
    }
}

/*debut commons */
.container {
    max-width: 300px;
    margin: 0 auto;
}

.prevent-scrolling {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.screen-reader-text,
.screen-reader-text-hide {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

/*
.sideM {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    justify-content: flex-end;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
*/

@media (min-width: 600px) {
    .container {
        max-width: 550px;
    }
}

@media (min-width: 780px) {
    .container {
        max-width: 700px;
    }

    #mastheader nav ul {
        display: inline-block;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1980px) {
    .container {
        max-width: 1900px;
    }
}

/* Debut neutraliser CSS */
h1, h2, h3, h4, h5 {
    margin: 0;
}

figure {
    margin: 0;
}

article {
    display: inline
}

p {
    margin: 0;
    display: block;
}

/* fin neutraliser CSS*/
