.contact {
    position: relative;
    display: flex;
    flex-direction: column;
}

 .contact__title {
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 34px;
    background-color: #fff;
    margin-bottom: 10px;
   }
.contact-form label {
    padding-left: 8px;
    margin-bottom: 14px;

}

.contact-form input {
    background-color: #efefef;
    margin: 7px 20px;
    border: 0;
    border-radius: 35px;
    padding-left: 18px;
    height: 40px;

}

.contact-form .input__shadow {
    -moz-box-shadow: 2px 3px 10px 2px #b5b0b0;
    -webkit-box-shadow: 2px 3px 10px 2px #b5b0b0;
    box-shadow: 2px 3px 10px 2px #b5b0b0;
    transition: 0.5s;
}

.contact-form .input__shadow:focus {
    -moz-box-shadow: 7px 9px 15px 1px #8089f3;
    -webkit-box-shadow: 7px 9px 15px 1px #8089f3;
    box-shadow: 7px 9px 15px 1px #8089f3;
}

.contact-form .input-message__shadow {
    background-color: #efefef;
    margin: 7px 20px;
    height: 90px;
    padding-top: 14px;
    border: 0;
    border-radius: 25px;
    padding-left: 18px;
    -moz-box-shadow: 2px 3px 10px 2px #b5b0b0;
    -webkit-box-shadow: 2px 3px 10px 2px #b5b0b0;
    box-shadow: 2px 3px 10px 2px #b5b0b0;
    transition: 0.5s;
}

.contact-form .input-message__shadow:focus {
    -moz-box-shadow: 7px 9px 15px 1px #8089f3;
    -webkit-box-shadow: 7px 9px 15px 1px #8089f3;
    box-shadow: 7px 9px 15px 1px #8089f3;
}

.contact-form .input__submit {
    color: white;
    margin-top: 25px;
    background-color: #5c6af3;
    margin-left: 22%;
    margin-right: 20%;
    padding: 0;
}

.contact .contact__image {
    margin-top: 30px;
    order: -1;
    width: 300px;
    height: 300px;
    border-radius: 12%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    animation: translateIn 0.8s
}

.contact .contact__image img {
    max-width: 100%;
    max-height: 100%;
}


@media (min-width: 960px) {
    .contact {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .contact .contact-form {
        flex-basis: 50%;
        padding-right: 20px;
    }

    .contact .contact__image {
        display: flex;
        order: 0;
        flex-basis: 300px;
    }
}

@media (min-width: 1280px) {
    .contact .contact-form {
        flex-basis: 45%;
    }

    .contact .contact__image {
        flex-basis: 420px;
        height: 420px;
    }
}

@media (min-width: 1960px) {
    .contact .contact-form {
        flex-basis: 40%;
    }

    .contact .contact__image {
        flex-basis: 500px;
        height: 500px;
    }
}

@keyframes translateIn {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}
